
.ultimo div.enlace{

background: #ECEAEB;
}
.ultimo article .panel{
	margin-left: -4em;
	background: none !important;

}

.panel1{
	padding-left: 6em;
		background: transparent url("images/icons/a.png") no-repeat top left !important;

}
.panel2{
	background: transparent url("../images/icons/b.png") no-repeat top left !important;
}
.panel3{
	background: transparent url("../images/icons/c.png") no-repeat top left !important;
}
.panel4{
	background: transparent url("../images/icons/d.png") no-repeat top left !important;
}

.ultimo div.social {
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #fff;
	border-bottom: 3px solid #B65962;
	background: #7E0808 ;/*url("../images/borde.png") no-repeat top left;*/

	display: block;
}

.ultimo div.social p.empresa>a{
	color:#FFFFFF;
	font-weight:bold;
}
.ultimo div.social img{
	border-radius: 50%
}

.thumbnotice {
	position: absolute;
	left: 10px;
	top:1em;
}
.leftspace {
	padding-left: 110px;
	margin-bottom: 40px;
	position: relative;
}

.thumbchanel {
	position: absolute;
}
.chanelspace {

	text-align: center;
	padding-left: 50px;
	position: relative;
}
.chanelspace h4{
		margin-top: 0px ;
	margin-bottom: 0px ;
}

input[type=search]:focus {

}

input[type=search]{
	border: 1px solid transparent;
	box-shadow:  0px 2px 3px  rgba(0,0,0,.075);
	border-bottom: 5px;
}

.verticallist{
	margin-top: 3em;
	overflow-y: hidden;
	height: 470px;
}

.thumbnail {
	padding: 0px !important;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.carousel{
	margin-top:2em;
}
.glyphicon{
	width: 2em;	
}
.admin-menu{
	margin-top: 2em;
}

.carousel-control.left{
	background-image: none;
}
.carousel-control.right{
	background-image: none;	
}

.logo{
background-image: url("../images/logo.png")!important;
background-repeat: no-repeat;
background-position: 1em   1em ;
background-size: 250px 90px;
}  

.titulo{
	font-size: 3em;
	font-family: Times,serif;
	font-weight: bold;
	color:#A02430;
}
.nav-pills>li.active>a{
background-color: #A02430;
}
.nav-pills>li.active>a:hover{
background-color: #B65962;
}

a.menu {
color: #000000;
text-decoration: none;
}

a {
color: #000000;
}

.admin-menu{
	margin-top: 2em;
	font-size: 1.2em;
}

@media (max-width: 767px) {
	.wrap {
		height: 200px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.wrap {
		height: 300px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 1200px) {

}

.wrap {
  height: 400px;
  overflow: hidden;
  width:100%;
  background: white;
  -webkit-clip-path: polygon(
    0% 20%, 100% 0%, 100% 100%, 100% 90%, 0% 100%, 0% 20%
  );
  -moz-clip-path: polygon(
    0% 20%, 100% 0%, 100% 100%, 100% 90%, 0% 100%, 0% 20%
  );
  -ms-clip-path: polygon(
    0% 20%, 100% 0%, 100% 100%, 100% 90%, 0% 100%, 0% 20%
  );
  clip-path: polygon(
    0% 20%, 100% 0%, 100% 100%, 100% 90%, 0% 100%, 0% 20%
  ); 
}

